/* 기본 스타일: 모바일(가장 작은 화면) */
/* min-height를 30dvh로 설정 */
.heroContainer {
  min-height: 30dvh;
}

/* 화면 너비가 768px 이상일 때 (태블릿) */
@media (min-width: 768px) {
  .heroContainer {
    min-height: 50dvh;
  }
  /* 상품 이미지 크기 */
  .pricingSection img{
    width: 150px;
  }
}



/* 화면 너비가 1200px 이상일 때 (데스크톱) */
@media (min-width: 1200px) {
  .heroContainer {
    /* 데스크톱에서는 100dvh (전체 화면) */
    min-height: 100dvh; 
  }
  /* 상품 이미지 크기 */
  .pricingSection img{
    width: 300px;
  }
}